html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  color: #000;
  text-shadow: 1px 1px 3px #0003;
  margin: 0;
  padding: 0 0 60px;
}

.cursor-pointer {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

header, footer {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 3px #0009;
}

header a, header a.router-link-exact-active, footer a, footer a.router-link-exact-active {
  color: #63dcfd;
}

header {
  background-image: linear-gradient(45deg, #e37682 0%, #5f4d93 100%);
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 0 3px 10px #0009;
}

footer {
  background-image: linear-gradient(135deg, #e37682 0%, #5f4d93 100%);
  margin-top: 1em;
  padding: .75em;
  font-size: .8em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 -3px 10px #0009;
}

.m-r-xs {
  margin-right: .5em;
}

.m-l-xs {
  margin-left: .5em;
}

.m-t-xs {
  margin-top: .5em;
}

.m-b-xs {
  margin-bottom: .5em;
}

.m-x-xs {
  margin-left: .5em;
  margin-right: .5em;
}

.m-y-xs {
  margin-top: .5em;
  margin-bottom: .5em;
}

.m-t-sm {
  margin-top: 1em;
}

.m-b-sm {
  margin-bottom: 1em;
}

.m-x-sm {
  margin-left: 1em;
  margin-right: 1em;
}

.m-y-sm {
  margin-top: 1em;
  margin-bottom: 1em;
}

.m-t-md {
  margin-top: 2em;
}

.m-b-md {
  margin-bottom: 2em;
}

.m-x-md {
  margin-left: 2em;
  margin-right: 2em;
}

.m-y-md {
  margin-top: 2em;
  margin-bottom: 2em;
}

.m-t-lg {
  margin-top: 3em;
}

.m-b-lg {
  margin-bottom: 3em;
}

.m-x-lg {
  margin-left: 3em;
  margin-right: 3em;
}

.m-y-lg {
  margin-top: 3em;
  margin-bottom: 3em;
}

.m-t-xl {
  margin-top: 4em;
}

footer .footer-links {
  margin-top: .5em;
}

footer .footer-links a {
  margin: 0 .5em;
}

a, a.router-link-exact-active {
  color: #3cafce;
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  cursor: pointer;
  border-bottom: 2px solid #0000;
  padding: .25em .75em;
  font-size: 1.25em;
  font-weight: 300;
  transition: color .1s linear, border-bottom .1s linear;
  display: inline-block;
}

nav ul li.active {
  border-bottom: 2px solid #63dcfd;
}

nav ul li:hover {
  color: #63dcfd;
}

button, .button {
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: #3cafce;
  border: 0;
  border-radius: 8px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: .5em 1em;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  box-shadow: 0 4px 6px -1px #0003;
}

button i, .button i {
  margin-right: .5em;
}

button:hover, .button:hover {
  filter: brightness(120%);
}

.button.outlined {
  color: #3cafce;
  background-color: #0000;
  border: 1px solid #3cafce;
}

.button.flat {
  border: unset;
  color: #3cafce;
  box-shadow: unset;
  background-color: #0000;
}

.button.flat:hover {
  transition: all .1s ease-in-out;
  box-shadow: 0 4px 6px -1px #0003;
}

.button.flat.negative {
  border: unset;
  color: #b2184e;
  background-color: #0000;
}

.button.flat.positive {
  border: unset;
  color: #28a728;
  background-color: #0000;
}

.button.flat.info {
  border: unset;
  color: #285fa7;
  background-color: #0000;
}

.button.flat.warning {
  border: unset;
  color: #b2ad18;
  background-color: #0000;
}

.button.outlined.negative {
  color: #b2184e;
  background-color: #0000;
  border: 1px solid #b2184e;
}

.button.outlined.positive {
  color: #28a728;
  background-color: #0000;
  border: 1px solid #28a728;
}

.button.outlined.info {
  color: #285fa7;
  background-color: #0000;
  border: 1px solid #285fa7;
}

.button.outlined.warning {
  color: #b2ad18;
  background-color: #0000;
  border: 1px solid #b2ad18;
}

.button.negative {
  background-color: #b2184e;
}

.button.positive {
  background-color: #28a728;
}

.button.info {
  background-color: #285fa7;
}

.button.warning {
  background-color: #b2ad18;
}

code {
  color: #555;
  font-family: Consolas, Courier New, Courier, monospace;
}

main {
  max-width: 1260px;
  margin: 0 auto;
  padding: 1em;
}

main section#home > .content {
  text-align: center;
}

main section#home h1 {
  margin-top: 0;
  font-size: 2em;
  font-weight: 400;
}

main section#home h3 {
  font-size: 1.25em;
  font-weight: 600;
}

pre.broker-options {
  text-align: left;
  font-size: .9em;
  display: inline-block;
}

.boxes {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.boxes .box {
  background: #3cafce1a;
  border: 1px solid gray;
  border-radius: .25em;
  width: 200px;
  margin: .5em;
  padding: .25em 1em;
}

.boxes .box .caption {
  margin-bottom: .5em;
  font-size: .9em;
  font-weight: 300;
}

.boxes .box .value {
  font-size: 1.1em;
  font-weight: 600;
}

main input {
  border: 1px solid #3cafce;
  border-radius: 4px;
  padding: 2px 6px;
  font-family: Source Sans Pro;
}

main fieldset {
  background-color: #f0f4f7cd;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  margin-bottom: 2em;
  box-shadow: 2px 2px 10px #0006;
}

main fieldset legend {
  background-color: #cce7ff;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 4px 10px;
}

main fieldset .content {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.action-card {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  flex-direction: column;
  flex: 1;
  margin-top: .2em;
  margin-bottom: .2em;
  display: flex;
}

.action-card-header {
  border-bottom: 1px solid #d3d3d3;
  border-radius: 4px;
  flex-direction: row;
  flex: 1;
  align-items: center;
  padding: 8px;
  transition: all .25s ease-in-out;
  display: flex;
}

.action-card-header:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.action-card-section {
  display: none;
}

.action-card-section.expand {
  transition: display .3s ease-in-out;
  display: block;
}

.flex-spacer {
  flex-grow: 1;
}

.action-card-section-parameters-header {
  background-color: #fbfbfbbb;
  flex-direction: row;
  flex: 1;
  place-items: center;
  padding: 8px;
  display: flex;
}

.action-card-section-parameters-body {
  padding: 8px;
}

.action-card-section-response {
  background-color: #fbfbfb92;
}

.action-card-section-response-header {
  background-color: #fbfbfbbb;
  flex-direction: row;
  flex: 1;
  place-items: center;
  padding: 8px;
  display: flex;
}

.action-card-section-response-body {
  padding: 4px 16px;
}

main fieldset .parameters .field {
  margin-bottom: .25em;
}

main fieldset .parameters .field label {
  text-align: right;
  min-width: 80px;
  margin-right: .5em;
  display: inline-block;
}

main fieldset .response {
  margin-top: 1em;
}

main fieldset .response pre {
  margin: .5em 0;
  font-size: .9em;
}

pre.json .string {
  color: #885800;
}

pre.json .number {
  color: #00f;
}

pre.json .boolean {
  color: #f0f;
}

pre.json .null {
  color: red;
}

pre.json .key {
  color: green;
}

main h4 {
  margin: .25em -1em;
  font-weight: 600;
}

.badge {
  color: #fff;
  background-color: #696969;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: .7em;
  font-weight: 600;
  display: inline-block;
}

.badge.lg {
  padding: 4px 8px;
}

.badge.lg.fixed {
  width: 80px;
}

.badge.green {
  background-color: #32cd32;
}

.badge.red {
  background-color: #b22222;
}

.badge.orange {
  color: #000;
  background-color: #fab000;
}

.badge.light {
  background-color: #669aa9a6;
}

table {
  background-color: #f0f8ff;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  width: 100%;
}

table th {
  background-color: #cce7ff;
  border-radius: 4px;
  padding: 2px 4px;
}

table tr.offline td {
  color: #777;
  font-style: italic;
}

table tr:not(:last-child) td {
  border-bottom: 1px solid #ddd;
}

table td {
  text-align: center;
  padding: 2px 4px;
  position: relative;
}

table th:first-child, table td:first-child {
  text-align: left;
}

table tr.service td:first-child {
  font-weight: bold;
}

table tr.action td:first-child {
  padding-left: 2em;
}

table tr td:nth-child(2) {
  font-family: monospace;
  font-size: .8em;
}

.bar {
  background-color: #0000004d;
  width: 0;
  height: 100%;
  position: absolute;
  inset: 0;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, select {
  background-color: #f0f0f0;
  border: 1px solid #2a3396ce;
  border-radius: 4px;
  height: 1.5em;
  padding: 2px 8px;
}

input[type="checkbox"], input[type="radio"] {
  width: 1.25em;
  height: 1.25em;
  margin-right: .5em;
}

input[required]:invalid {
  background-color: #d0c0c0d0;
  border: 1px solid #a13636;
  border-radius: 4px;
  padding: 4px;
}

input[required]:after {
  content: "*";
  color: red;
  font-size: .8em;
  position: absolute;
  top: .5em;
  right: .5em;
}

.bg-primary {
  background-color: #3cafce;
}

.bg-secondary {
  background-color: #999;
}

.bg-method-post {
  background-color: #1e8847;
}

.bg-method-get {
  background-color: #1f697e;
}

.bg-method-put {
  background-color: #b79f27;
}

.bg-method-patch {
  background-color: #916d18;
}

.bg-method-delete {
  background-color: #b72727;
}

.bg-method-options {
  background-color: #80449a;
}

.action-method-post {
  background-color: #1e884740;
  border: 1px solid #1e8847;
}

.action-method-get {
  background-color: #1f697e44;
  border: 1px solid #1f697e;
}

.action-method-put {
  background-color: #b79f2740;
  border: 1px solid #b79f27;
}

.action-method-patch {
  background-color: #916d183e;
  border: 1px solid #916d18;
}

.action-method-delete {
  background-color: #b727273d;
  border: 1px solid #b72727;
}

.action-method-options {
  background-color: #80449a61;
  border: 1px solid #80449a;
}

.text-title {
  font-size: 1.25em;
  font-weight: 400;
}

.text-subtitle1 {
  font-size: 1.25em;
  font-weight: 200;
}

.text-subtitle2 {
  font-size: 1.15em;
  font-weight: 200;
}

.text-h1 {
  font-size: 2em;
  font-weight: 400;
}

.text-h2 {
  font-size: 1.5em;
  font-weight: 400;
}

.text-h3 {
  font-size: 1.25em;
  font-weight: 300;
}

.text-h4 {
  font-size: 1.15em;
  font-weight: 300;
}

.text-h5 {
  font-size: 1em;
  font-weight: 200;
}

.text-h6, .text-caption {
  font-size: .85em;
  font-weight: 200;
}

.text-code {
  font-size: 1em;
  font-weight: 300;
}

.text-bold {
  font-weight: bold;
}

.text-p {
  font-size: 1em;
  font-weight: 400;
}

.text-small {
  font-size: .85em;
  font-weight: 400;
}

.text-muted {
  color: #999;
  font-size: .85em;
  font-weight: 400;
}

.text-primary {
  color: #3cafce;
}

.text-secondary {
  color: #999;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-break {
  word-break: break-all;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-wrap {
  word-wrap: break-word;
}

.text-nowrap {
  white-space: nowrap;
}

.full-width {
  width: 100%;
}

.flex, .row, .column {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.modal-overlay {
  z-index: 999;
  background-color: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  z-index: 1000;
  background-color: #fff;
  border-radius: 4px;
  width: 80%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px #00000080;
}

.modal .modal-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 8px;
}

.modal .modal-content {
  height: 100%;
  padding: 16px;
}

.modal .modal-actions {
  border-top: 1px solid #e5e5e5;
  flex-flow: row;
  justify-content: flex-end;
  padding: 16px;
  display: flex;
}

.form-group > * {
  margin-bottom: 4px;
  margin-right: 4px;
}

input[type="text"].input-size-md {
  height: 1.5em;
  font-size: 1.3em;
}

.field > label {
  width: 120px;
}
/*# sourceMappingURL=index.72558728.css.map */
